.appraise-img {
  height: 450px;
  width: 207px;
}

.bessapdv-img {
  height: auto;
  width: 100%;
}
/* @media screen and (max-width: 600px) { */
.image-center-sx {
  text-align: -webkit-center;
}
/* } */